http:
  middlewares:
    lan-only:
      ipAllowList:
        sourceRange:
          - "192.168.1.0/24"

    authentik:
      forwardAuth:
        address: "http://authentik:9000/outpost.goauthentik.io/auth/traefik"
        trustForwardHeader: true
        authResponseHeaders:
          - X-authentik-username
          - X-authentik-groups
          - X-authentik-email
          - X-authentik-name
          - X-authentik-uid

    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "no-referrer"
        permissionsPolicy: >
          camera=(),
          microphone=(),
          geolocation=(self),
          payment=()
        customResponseHeaders:
      Content-Security-Policy: "default-src 'self'; object-src 'none'; frame-ancestors 'none'; base-uri 'self'; "

    compress:
      compress: {}

    retry:
      retry:
        attempts: 3
        initialInterval: 100ms

    rate-limit:
      rateLimit:
        average: 10
        burst: 20
        period: 1s

    inflight:
      inFlightReq:
        amount: 50

    default-chain:
      chain:
        middlewares:
          - security-headers
          - compress
          - retry

    public-chain:
      chain:
        middlewares:
          - rate-limit
          - inflight
          - security-headers
          - compress
          - retry

    auth-chain:
      chain:
        middlewares:
          - rate-limit
          - inflight
          - authentik
          - security-headers
          - compress
          - retry

    obs-chain:
      chain:
        middlewares:
          - lan-only
          - security-headers
          - compress
          - retry
