global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: homelab
    environment: production

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'telegraf'
    static_configs:
      - targets: ['telegraf:8125']

  - job_name: 'docker'
    static_configs:
      - targets: ['localhost:9323']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
